.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top:20rem ;
  padding-bottom: 2rem;
  margin-top: 20px;
}
.items{
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 20px;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  margin: 10px;
  display: inline-block;
  overflow-y: auto;
}
ul{
  list-style: none;
  padding: 0;
}
input{
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  margin: 1rem;
}
button{
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  margin: 1rem;
  background-color: grey;
  color: white;
  cursor: pointer;
}
h1{
  color: aliceblue;
  font-size: 40px;
  margin: 1rem;
}
p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
}
.desc{
  font-size: 20px;
  color: aliceblue;
  margin: 1rem;
  background-color: aliceblue;
  border: #333;
  border-radius: 5px;
  padding: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}